
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 m-auto">
            <div class = "card boder-0 shadow">
                    <div class="card-header fw-bold">
                        LOGIN
                    </div>
                    <div class="card-body">
                        <div>
                            <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="staticEmail" value="">
                            </div>
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="inputPassword">
                            </div>
                            <button type="button" class="btn btn-primary mt-2">Login</button>
                        </div>   
                    </div>
            </div>
        </div>
    </div>
</div>